@media screen and (min-width: 1800px) { #container { width: 100%; height: 100vh; position: relative; }
  #container > header { width: 100%; height: 70px; background-color: #fff; position: fixed; top: 0; z-index: 2000; }
  #container > header > h1 { width: 150px; height: 60px; padding-top: 5px; margin-left: calc(50% - 900px); float: left; }
  #container > header > h1 > a { width: 100%; height: 100%; background-image: url(../img/logo.png); background-repeat: no-repeat; background-position: center; background-size: contain; display: block; }
  #container > header > nav { width: 900px; height: 100%; margin-right: calc(50% - 900px); float: right; }
  #container > header > nav > #gnb { width: 100%; height: 100%; }
  #container > header > nav > #gnb > li { width: calc(100% / 4); height: 100%; border-left: 1px solid #777; box-sizing: border-box; float: left; text-align: center; }
  #container > header > nav > #gnb > li:last-child { border-right: 1px solid #777; }
  #container > header > nav > #gnb > li > a { width: 100%; height: 100%; display: block; color: #333333; text-decoration: none; font-size: 1.1rem; font-weight: bold; line-height: 70px; }
  #container > header > nav > #gnb > li > a:hover { background-color: rgba(100, 100, 100, 0.2); }
  #container > #mapLine { width: 20px; height: 100vh; position: absolute; left: calc(50% - 20px); border-right: 1px solid #777; }
  #container > #mapLine > ul { width: 40px; height: 700px; padding-top: 100px; margin-top: 100px; }
  #container > #mapLine > ul > li { width: 100%; height: 40px; margin-bottom: 100px; background-color: #fff; border: 2px solid #1f1f1f; box-sizing: border-box; border-radius: 25px; text-align: center; overflow: hidden; transition: all 0.3s; }
  #container > #mapLine > ul > li:hover { width: 100px; margin-left: -30px; background-color: #1f1f1f; border-radius: 24px; text-align: center; }
  #container > #mapLine > ul > li:hover > a { width: 100%; height: 100%; display: block; line-height: 40px; text-decoration: none; color: #fff; }
  #container > #mapLine > ul > li.select_map { width: 100px; margin-left: -30px; background-color: #1f1f1f; border-radius: 24px; text-align: center; }
  #container > #mapLine > ul > li.select_map > a { width: 100%; height: 100%; display: block; line-height: 40px; text-decoration: none; color: #fff; }
  #container > #mapLine > ul > li.select_map > span { display: none; }
  #container > #mapLine > ul > li > a { display: none; }
  #container > #mapLine > ul > li > span { width: 40px; height: 40px; line-height: 40px; font-weight: bold; }
  #container > section { width: 100%; height: 100vh; overflow: hidden; }
  #container > section > article { width: 100%; height: 100%; }
  #container > section > article#p01 { background-color: #d3c6bd; }
  #container > section > article#p02 { background-color: #dbe2d1; display: none; }
  #container > section > article#p03 { background-color: #e4dcd9; display: none; }
  #container > section > article#p04 { background-color: #c7dbe4; display: none; }
  #container > section > article > div { width: 50%; height: 100%; margin-top: 0; float: left; }
  #container > section > article > div.left_side { margin-top: -100%; }
  #container > section > article > div.right_side { margin-top: 100%; }
  #container > section > article > div.margin_set { margin-top: 0; }
  #container > section > article > div > .img_box { width: 600px; height: 800px; margin: 0 auto; margin-top: 100px; background-color: #fff; }
  #container > section > article > div > .img_box > img { width: 100%; height: 100%; }
  #container > section > article > div > .li_box { width: 600px; height: 800px; margin: 0 auto; margin-top: 100px; }
  #container > section > article > div > .li_box > p { width: 100%; height: 100px; margin-top: 20px; float: left; font-size: 2.2rem; text-align: center; line-height: 100px; color: #1f1f1f; font-weight: bold; }
  #container > section > article > div > .li_box > ul { width: 100%; height: 600px; margin-top: 10px; background-color: #16a; float: left; }
  #container > section > article > div > .li_box > ul > li { width: 200px; height: 200px; background-color: #9af; float: left; }
  #container > section > article > div > .li_box > ul > li:hover { border: 5px solid #fff; box-sizing: border-box; cursor: pointer; }
  #container > section > article > div > .li_box > ul > li > img { width: 100%; height: 100%; }
  #container > section > article > div > .li_box > a { width: 60px; height: 20px; margin-top: 10px; margin-right: 20px; float: right; display: block; text-align: center; line-height: 20px; text-decoration: none; color: #050505; }
  #container > section > article > div > .li_box > a:hover { font-weight: bold; }
  #container > footer { width: 100%; height: 50px; }
  #container > footer > #footUl { width: 1000px; height: 100%; margin: 0 auto; }
  #container > footer > #footUl > li { width: 20%; height: 20px; margin-top: 15px; border-right: 1px solid #777; box-sizing: border-box; text-align: center; float: left; }
  #container > footer > #footUl > li:last-child { border-right: 0; }
  #container > footer > #footUl > li > a { width: 100%; height: 100%; display: block; line-height: 20px; text-decoration: none; font-size: 0.95rem; color: #333; } }
@media screen and (min-width: 1025px) and (max-width: 1799px) { #container { width: 100%; height: auto; position: relative; }
  #container > header { width: 100%; height: 70px; background-color: #fff; position: fixed; top: 0; z-index: 2000; }
  #container > header > h1 { width: 150px; height: 60px; padding-top: 5px; margin-left: 30px; float: left; }
  #container > header > h1 > a { width: 100%; height: 100%; background-image: url(../img/logo.png); background-repeat: no-repeat; background-position: center; background-size: contain; display: block; }
  #container > header > nav { width: calc(50% - 15px); height: 100%; margin-right: 15px; float: right; }
  #container > header > nav > #gnb { width: 100%; height: 100%; }
  #container > header > nav > #gnb > li { width: calc(100% / 4); height: 100%; border-left: 1px solid #777; box-sizing: border-box; float: left; text-align: center; }
  #container > header > nav > #gnb > li:last-child { border-right: 1px solid #777; }
  #container > header > nav > #gnb > li > a { width: 100%; height: 100%; display: block; color: #333333; text-decoration: none; font-size: 1.1rem; font-weight: bold; line-height: 70px; }
  #container > header > nav > #gnb > li > a:hover { background-color: rgba(100, 100, 100, 0.2); }
  #container > #mapLine { width: 20px; height: 100vh; position: absolute; left: calc(50% - 20px); border-right: 1px solid #777; }
  #container > #mapLine > ul { width: 40px; height: calc(100vh - 200px); padding-top: 100px; margin-top: 100px; }
  #container > #mapLine > ul > li { width: 100%; height: 40px; margin-bottom: 100px; background-color: #fff; border: 2px solid #1f1f1f; box-sizing: border-box; border-radius: 25px; text-align: center; overflow: hidden; transition: all 0.3s; }
  #container > #mapLine > ul > li:hover { width: 100px; margin-left: -30px; background-color: #1f1f1f; border-radius: 24px; text-align: center; }
  #container > #mapLine > ul > li:hover > a { width: 100%; height: 100%; display: block; line-height: 40px; text-decoration: none; color: #fff; }
  #container > #mapLine > ul > li.select_map { width: 100px; margin-left: -30px; background-color: #1f1f1f; border-radius: 24px; text-align: center; }
  #container > #mapLine > ul > li.select_map > a { width: 100%; height: 100%; display: block; line-height: 40px; text-decoration: none; color: #fff; }
  #container > #mapLine > ul > li.select_map > span { display: none; }
  #container > #mapLine > ul > li > a { display: none; }
  #container > #mapLine > ul > li > span { width: 40px; height: 40px; line-height: 40px; font-weight: bold; }
  #container > section { width: 100%; height: 100vh; overflow: hidden; }
  #container > section > article { width: 100%; height: 100%; }
  #container > section > article#p01 { background-color: #d3c6bd; }
  #container > section > article#p02 { background-color: #dbe2d1; display: none; }
  #container > section > article#p03 { background-color: #e4dcd9; display: none; }
  #container > section > article#p04 { background-color: #c7dbe4; display: none; }
  #container > section > article > div { width: 50%; height: 100%; margin-top: 0; float: left; }
  #container > section > article > div.left_side { margin-top: -100%; }
  #container > section > article > div.right_side { margin-top: 100%; }
  #container > section > article > div.margin_set { margin-top: 0; }
  #container > section > article > div > .img_box { width: 36vw; height: 48vw; margin: 0 auto; margin-top: 100px; background-color: #fff; }
  #container > section > article > div > .img_box > img { width: 100%; height: 100%; }
  #container > section > article > div > .li_box { width: 36vw; height: 48vw; margin: 0 auto; margin-top: 100px; }
  #container > section > article > div > .li_box > p { width: 100%; height: 100px; margin-top: 5px; float: left; font-size: 2.2rem; text-align: center; line-height: 100px; color: #1f1f1f; font-weight: bold; }
  #container > section > article > div > .li_box > ul { width: 100%; height: 36vw; margin-top: 10px; background-color: #ccf; float: left; }
  #container > section > article > div > .li_box > ul > li { width: 12vw; height: 12vw; background-color: #9af; float: left; }
  #container > section > article > div > .li_box > ul > li:hover { border: 5px solid #fff; box-sizing: border-box; cursor: pointer; }
  #container > section > article > div > .li_box > ul > li > img { width: 100%; height: 100%; }
  #container > section > article > div > .li_box > a { width: 60px; height: 20px; margin-top: 10px; margin-right: 20px; float: right; display: block; text-align: center; line-height: 20px; text-decoration: none; color: #050505; }
  #container > section > article > div > .li_box > a:hover { font-weight: bold; }
  #container > footer { width: 100%; height: 50px; }
  #container > footer > #footUl { width: 900px; height: 100%; margin: 0 auto; }
  #container > footer > #footUl > li { width: 20%; height: 20px; margin-top: 15px; border-right: 1px solid #777; box-sizing: border-box; text-align: center; float: left; }
  #container > footer > #footUl > li:last-child { border-right: 0; }
  #container > footer > #footUl > li > a { width: 100%; height: 100%; display: block; line-height: 20px; text-decoration: none; font-size: 0.95rem; color: #333; } }
@media screen and (min-width: 769px) and (max-width: 1024px) { #container { width: 100%; height: auto; position: relative; }
  #container > header { width: 100%; height: 70px; background-color: #fff; position: fixed; top: 0; z-index: 2000; }
  #container > header > h1 { width: 150px; height: 60px; padding-top: 5px; margin-left: 30px; float: left; }
  #container > header > h1 > a { width: 100%; height: 100%; background-image: url(../img/logo.png); background-repeat: no-repeat; background-position: center; background-size: contain; display: block; }
  #container > header > nav { width: 50%; height: 100%; float: right; }
  #container > header > nav > #gnb { width: 100%; height: 100%; }
  #container > header > nav > #gnb > li { width: 23%; height: 100%; border-left: 1px solid #777; box-sizing: border-box; float: left; text-align: center; }
  #container > header > nav > #gnb > li:last-child { width: 31%; border-right: 1px solid #777; }
  #container > header > nav > #gnb > li > a { width: 100%; height: 100%; display: block; color: #333333; text-decoration: none; font-size: 1.1rem; font-weight: bold; line-height: 70px; }
  #container > header > nav > #gnb > li > a:hover { background-color: rgba(100, 100, 100, 0.2); }
  #container > #mapLine { width: 20px; height: 100vh; position: absolute; left: calc(50% - 20px); border-right: 1px solid #777; }
  #container > #mapLine > ul { width: 40px; height: calc(100vh - 200px); padding-top: 100px; margin-top: 100px; }
  #container > #mapLine > ul > li { width: 100%; height: 40px; margin-bottom: 100px; background-color: #fff; border: 2px solid #1f1f1f; box-sizing: border-box; border-radius: 25px; text-align: center; overflow: hidden; transition: all 0.3s; transform: rotate(90deg); }
  #container > #mapLine > ul > li:hover { width: 100px; margin-left: -30px; background-color: #1f1f1f; border-radius: 24px; text-align: center; }
  #container > #mapLine > ul > li:hover > a { width: 100%; height: 100%; display: block; line-height: 40px; text-decoration: none; color: #fff; }
  #container > #mapLine > ul > li.select_map { width: 100px; margin-left: -30px; background-color: #1f1f1f; border-radius: 24px; text-align: center; }
  #container > #mapLine > ul > li.select_map > a { width: 100%; height: 100%; display: block; line-height: 40px; text-decoration: none; color: #fff; }
  #container > #mapLine > ul > li.select_map > span { display: none; }
  #container > #mapLine > ul > li > a { display: none; }
  #container > #mapLine > ul > li > span { width: 40px; height: 40px; line-height: 40px; font-weight: bold; }
  #container > section { width: 100%; height: 100vh; overflow: hidden; }
  #container > section > article { width: 100%; height: 100%; }
  #container > section > article#p01 { background-color: #d3c6bd; }
  #container > section > article#p02 { background-color: #dbe2d1; display: none; }
  #container > section > article#p03 { background-color: #e4dcd9; display: none; }
  #container > section > article#p04 { background-color: #c7dbe4; display: none; }
  #container > section > article > div { width: 50%; height: 100%; margin-top: 0; float: left; }
  #container > section > article > div.left_side { margin-top: -100%; }
  #container > section > article > div.right_side { margin-top: 100%; }
  #container > section > article > div.margin_set { margin-top: 0; }
  #container > section > article > div > .img_box { width: 40vw; height: 53.333333vw; margin: 0 auto; margin-top: 20vh; background-color: #fff; }
  #container > section > article > div > .img_box > img { width: 100%; height: 100%; }
  #container > section > article > div > .li_box { width: 40vw; height: 53.333333vw; margin: 0 auto; margin-top: 20vh; }
  #container > section > article > div > .li_box > p { width: 100%; height: 100px; margin-top: 5px; float: left; font-size: 1.8rem; text-align: center; line-height: 40px; display: block; color: #1f1f1f; font-weight: bold; }
  #container > section > article > div > .li_box > ul { width: 100%; height: 40vw; margin-top: 10px; background-color: #16a; float: left; }
  #container > section > article > div > .li_box > ul > li { width: 13.333333vw; height: 13.333333vw; background-color: #9af; float: left; }
  #container > section > article > div > .li_box > ul > li:hover { border: 5px solid #fff; box-sizing: border-box; cursor: pointer; }
  #container > section > article > div > .li_box > ul > li > img { width: 100%; height: 100%; }
  #container > section > article > div > .li_box > a { width: 60px; height: 20px; margin-top: 10px; margin-right: 20px; float: right; display: block; text-align: center; line-height: 20px; text-decoration: none; color: #050505; }
  #container > section > article > div > .li_box > a:hover { font-weight: bold; }
  #container > footer { width: 100%; height: 50px; }
  #container > footer > #footUl { width: 88vw; height: 100%; margin: 0 auto; }
  #container > footer > #footUl > li { width: 20%; height: 20px; margin-top: 15px; border-right: 1px solid #777; box-sizing: border-box; text-align: center; float: left; }
  #container > footer > #footUl > li:last-child { border-right: 0; }
  #container > footer > #footUl > li > a { width: 100%; height: 100%; display: block; line-height: 20px; text-decoration: none; font-size: 0.95rem; color: #333; } }
@media screen and (min-width: 481px) and (max-width: 768px) { #container { width: 100%; height: auto; position: relative; }
  #container > header { width: 100%; height: 60px; background-color: #fff; position: fixed; top: 0; z-index: 2000; }
  #container > header > h1 { width: 130px; height: 50px; padding-top: 5px; margin-left: 30px; float: left; }
  #container > header > h1 > a { width: 100%; height: 100%; background-image: url(../img/logo.png); background-repeat: no-repeat; background-position: center; background-size: contain; display: block; }
  #container > header > nav { width: 60px; height: 100%; margin-right: 30px; float: right; background-image: url(../img/menuBarImg.png); background-repeat: no-repeat; background-position: center; background-size: contain; }
  #container > header > nav > #backClick { display: none; }
  #container > header > nav > #gnb { width: 100%; height: 100%; }
  #container > header > nav > #gnb > li { display: none; }
  #container > header > nav.navClick { width: 150px; height: 0; position: relative; transition: all 1s; cursor: pointer; }
  #container > header > nav.navClick > #backClick { width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.3); position: fixed; z-index: 2100; top: 0; left: 0; display: block; }
  #container > header > nav.navClick > #gnb { width: 150px; height: 260px; position: relative; right: -30px; z-index: 2200; background-color: #fff; display: block; }
  #container > header > nav.navClick > #gnb > li { width: 100%; height: 60px; margin-bottom: 5px; text-align: center; display: block; }
  #container > header > nav.navClick > #gnb > li > a { width: 100%; height: 100%; display: block; color: #333333; text-decoration: none; font-size: 1.1rem; font-weight: bold; line-height: 70px; }
  #container > header > nav.navClick > #gnb > li > a:hover { background-color: rgba(100, 100, 100, 0.2); }
  #container > #mapLine { width: 100%; height: 20px; position: absolute; top: 100px; border-bottom: 1px solid #777; }
  #container > #mapLine > ul { width: 370px; height: 40px; margin: 0 auto; }
  #container > #mapLine > ul > li { width: 40px; height: 40px; margin-right: 60px; background-color: #fff; border: 2px solid #1f1f1f; box-sizing: border-box; border-radius: 25px; text-align: center; overflow: hidden; transition: all 0.3s; float: left; }
  #container > #mapLine > ul > li:last-child { margin-right: 0; }
  #container > #mapLine > ul > li:hover { background-color: #1f1f1f; }
  #container > #mapLine > ul > li:hover > a { display: none; }
  #container > #mapLine > ul > li:hover > span { color: #fff; }
  #container > #mapLine > ul > li.select_map { width: 100px; margin-left: -30px; background-color: #1f1f1f; border-radius: 24px; text-align: center; }
  #container > #mapLine > ul > li.select_map > a { width: 100%; height: 100%; display: block; line-height: 40px; text-decoration: none; color: #fff; }
  #container > #mapLine > ul > li.select_map > span { display: none; }
  #container > #mapLine > ul > li > a { display: none; }
  #container > #mapLine > ul > li > span { width: 40px; height: 40px; line-height: 40px; font-weight: bold; }
  #container > section { width: 100%; height: auto; overflow: hidden; }
  #container > section > article { width: 100%; height: 700px; }
  #container > section > article#p01 { background-color: #d3c6bd; }
  #container > section > article#p02 { background-color: #dbe2d1; display: none; }
  #container > section > article#p03 { background-color: #e4dcd9; display: none; }
  #container > section > article#p04 { background-color: #c7dbe4; display: none; }
  #container > section > article > div { width: 50%; height: 100%; margin-top: 0; float: left; }
  #container > section > article > div.left_side { margin-left: -100%; }
  #container > section > article > div.right_side { margin-left: 100%; }
  #container > section > article > div.margin_set { margin-left: 0; }
  #container > section > article > div > .img_box { width: 48vw; height: 64vw; margin: 0 auto; margin-top: 200px; background-color: #fff; }
  #container > section > article > div > .img_box > img { width: 100%; height: 100%; }
  #container > section > article > div > .li_box { width: 48vw; height: 64vw; margin: 0 auto; margin-top: 180px; }
  #container > section > article > div > .li_box > p { width: 100%; height: 80px; float: left; font-size: 1.3rem; text-align: center; line-height: 40px; display: block; color: #1f1f1f; font-weight: bold; }
  #container > section > article > div > .li_box > ul { width: 100%; height: 48vw; background-color: #16a; float: left; }
  #container > section > article > div > .li_box > ul > li { width: 16vw; height: 16vw; background-color: #9af; float: left; }
  #container > section > article > div > .li_box > ul > li:hover { border: 5px solid #fff; box-sizing: border-box; cursor: pointer; }
  #container > section > article > div > .li_box > ul > li > img { width: 100%; height: 100%; }
  #container > section > article > div > .li_box > a { width: 60px; height: 20px; margin-top: 2px; margin-right: 5px; float: right; display: block; text-align: center; line-height: 20px; text-decoration: none; color: #050505; }
  #container > section > article > div > .li_box > a:hover { font-weight: bold; }
  #container > footer { width: 100%; height: 50px; }
  #container > footer > #footUl { width: 100%; height: 100%; margin: 0 auto; }
  #container > footer > #footUl > li { width: 20%; height: 20px; margin-top: 15px; border-right: 1px solid #777; box-sizing: border-box; text-align: center; float: left; }
  #container > footer > #footUl > li:last-child { border-right: 0; }
  #container > footer > #footUl > li > a { width: 100%; height: 100%; line-height: 20px; text-decoration: none; font-size: 0.7rem; color: #333; } }
@media screen and (max-width: 480px) { #container { width: 100%; min-width: 300px; height: auto; position: relative; }
  #container > header { width: 100%; min-width: 300px; height: 60px; background-color: #fff; position: fixed; top: 0; z-index: 2000; }
  #container > header > h1 { width: 130px; height: 50px; padding-top: 5px; margin-left: 30px; float: left; }
  #container > header > h1 > a { width: 100%; height: 100%; background-image: url(../img/logo.png); background-repeat: no-repeat; background-position: center; background-size: contain; display: block; }
  #container > header > nav { width: 60px; height: 100%; margin-right: 30px; float: right; background-image: url(../img/menuBarImg.png); background-repeat: no-repeat; background-position: center; background-size: contain; }
  #container > header > nav > #backClick { display: none; }
  #container > header > nav > #gnb { width: 100%; height: 100%; }
  #container > header > nav > #gnb > li { display: none; }
  #container > header > nav.navClick { width: 150px; height: 0; position: relative; transition: all 1s; cursor: pointer; }
  #container > header > nav.navClick > #backClick { width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.3); position: fixed; z-index: 2100; top: 0; left: 0; display: block; }
  #container > header > nav.navClick > #gnb { width: 150px; height: 260px; position: relative; right: -30px; z-index: 2200; background-color: #fff; display: block; }
  #container > header > nav.navClick > #gnb > li { width: 100%; height: 60px; margin-bottom: 5px; text-align: center; display: block; }
  #container > header > nav.navClick > #gnb > li > a { width: 100%; height: 100%; display: block; color: #333333; text-decoration: none; font-size: 1.1rem; font-weight: bold; line-height: 70px; }
  #container > header > nav.navClick > #gnb > li > a:hover { background-color: rgba(100, 100, 100, 0.2); }
  #container > #mapLine { width: 100%; min-width: 300px; height: 20px; position: absolute; top: 100px; left: 0; border-bottom: 1px solid #777; }
  #container > #mapLine > ul { width: calc(100vw - 60px); min-width: 300px; height: 40px; margin-left: 20px; }
  #container > #mapLine > ul > li { width: 40px; height: 40px; margin-right: calc((100% - 200px) / 4); background-color: #fff; border: 2px solid #1f1f1f; box-sizing: border-box; border-radius: 25px; text-align: center; overflow: hidden; transition: all 0.3s; float: left; }
  #container > #mapLine > ul > li:last-child { margin-right: 0; }
  #container > #mapLine > ul > li:hover { background-color: #1f1f1f; }
  #container > #mapLine > ul > li:hover > a { display: none; }
  #container > #mapLine > ul > li:hover > span { color: #fff; }
  #container > #mapLine > ul > li.select_map { width: 100px; background-color: #1f1f1f; border-radius: 24px; text-align: center; }
  #container > #mapLine > ul > li.select_map > a { width: 100%; height: 100%; display: block; line-height: 40px; text-decoration: none; color: #fff; }
  #container > #mapLine > ul > li.select_map > span { display: none; }
  #container > #mapLine > ul > li > a { display: none; }
  #container > #mapLine > ul > li > span { width: 40px; height: 40px; line-height: 40px; font-weight: bold; }
  #container > section { width: 100%; height: 1050px; overflow: hidden; }
  #container > section > article { width: 100%; height: 100%; }
  #container > section > article#p01 { background-color: #d3c6bd; }
  #container > section > article#p02 { background-color: #dbe2d1; display: none; }
  #container > section > article#p03 { background-color: #e4dcd9; display: none; }
  #container > section > article#p04 { background-color: #c7dbe4; display: none; }
  #container > section > article > div { width: 100%; height: 420px; margin-top: 0; float: left; }
  #container > section > article > div.left_side { margin-left: -100%; margin-top: 180px; }
  #container > section > article > div.right_side { margin-left: 100%; }
  #container > section > article > div.margin_set { margin-left: 0; }
  #container > section > article > div > .img_box { width: 300px; height: 400px; margin: 0 auto; background-color: #fff; }
  #container > section > article > div > .img_box > img { width: 100%; height: 100%; }
  #container > section > article > div > .li_box { width: 300px; height: 400px; margin: 0 auto; }
  #container > section > article > div > .li_box > p { width: 100%; height: 50px; float: left; font-size: 1.3rem; text-align: center; line-height: 50px; display: block; color: #1f1f1f; font-weight: bold; }
  #container > section > article > div > .li_box > ul { width: 100%; height: 300px; background-color: #16a; float: left; }
  #container > section > article > div > .li_box > ul > li { width: 100px; height: 100px; background-color: #9af; float: left; }
  #container > section > article > div > .li_box > ul > li:hover { border: 5px solid #fff; box-sizing: border-box; cursor: pointer; }
  #container > section > article > div > .li_box > ul > li > img { width: 100%; height: 100%; }
  #container > section > article > div > .li_box > a { width: 60px; height: 20px; margin-top: 2px; margin-right: 5px; float: right; display: block; text-align: center; line-height: 20px; text-decoration: none; color: #050505; }
  #container > section > article > div > .li_box > a:hover { font-weight: bold; }
  #container > footer { width: 100%; min-width: 300px; height: 70px; }
  #container > footer > #footUl { width: 300px; height: 100%; margin: 0 auto; }
  #container > footer > #footUl > li { width: 100px; height: 15px; margin-top: 10px; border-right: 1px solid #777; box-sizing: border-box; text-align: center; float: left; }
  #container > footer > #footUl > li:nth-child(3) { border-right: 0; }
  #container > footer > #footUl > li:nth-child(4) { margin-left: 50px; }
  #container > footer > #footUl > li:nth-child(5) { border-right: 0; }
  #container > footer > #footUl > li > a { width: 100%; height: 100%; line-height: 20px; text-decoration: none; font-size: 0.7rem; color: #333; } }

/*# sourceMappingURL=base.css.map */
